<!DOCTYPE html>
<html>


    <section class="page-section about-heading">
        <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/about.jpg">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">Reggae, Rock, Roots</span><span class="section-heading-lower">&nbsp;Perfil</span></h2>
                            <p>O estúdio foi fundado pelo Eduardo, que começou a tatuar em 2003, de 2010 até 2022 tatuou no Onix Tattoo e Piercing junto com a Tamy, Joow, Maria Vitória e Mariana Dionisio no centro de Botucatu - São Paulo.</p>
                            

Desde 2020, nossa missão é de oferecer um serviço de qualidade desde o atendimento até o pós tattoo, temos um ambiente onde cumprimos com todas as exigências feita pela vigilância sanitária, trabalhamos somente com produtos de tatuagens autorizados pela ANVISA e totalmente descartáveis.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/current-day.js"></script>


</html>