
 

    <div class="hero-container" data-aos="fade-in">
      <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="topHeader">Darkletthering, caligráficos, monotipias, padrões, ornamentais e simetrias &nbsp;</span></h1>
      
    </div>



    <section class="page-section clearfix">
        <div class="container">
            <div class="quadro">
                <div class="text-center intro-text p-5 rounded bg-faded">
                    <h2 class="section-heading mb-4">
                        
                        <span class="section-heading-upper">
                            
                            
                            <a class="w3-btn w3-black" target="_blank" href="https://www.instagram.com/perd.tattoo">@@perd.tattoo</a>
                            
                        </span>
                        
                        
                        
                        <span class="section-heading-lower">Eduardo Bucalam</span></h2>
                    <img src="/img/du.jpg" height="200" id="eDu">





                    <p class="mb-3">
                        
                        🍄️Observador em observação sendo observado♓


                    </p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" target="_blank" role="button" href="https://api.whatsapp.com/send?phone=5514991938324">Contato</a></div>
                </div>
            </div>
        </div>
    </section>

  

    <video autoplay muted loop poster="./img/background.jpg" class="bg_video">
  <source src="/img/Tattoo.mp4" type="video/mp4">
</video>



    <script src="~/bootstrap/js/bootstrap.min.js"></script>
   
 
    




 



