<!DOCTYPE html>
<html>

    </nav>
    <section class="page-section ctb">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-5"><span class="section-heading-upper">Venha nos visitar</span><span class="section-heading-lower">aberto:</span></h2>
                        <ul class="list-unstyled text-start mx-auto list-hours mb-5">
                            <li class="d-flex list-unstyled-item list-hours-item">Domingo<span class="ms-auto">Fechado</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Segundo<span class="ms-auto">7:00 AM às 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Terça<span class="ms-auto">7:00 AM às 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Quarta<span class="ms-auto">7:00 AM às 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Quinta<span class="ms-auto">7:00 AM às 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Sexta<span class="ms-auto">7:00 AM às 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Sábado<span class="ms-auto">9:00 AM às 5:00 PM</span></li>
                        </ul>
                        <p class="address mb-5"><em><strong>1116 Orchard Street</strong><span><br>Botucatu, São Paulo</span></em></p>
                        <p class="address mb-0"><small><em>Telefone qualquer hora</em></small><span><br>(14) 99193-8324</span></p>
                    </div>
                </div>
            </div>
        </div>
 

    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/current-day.js"></script>


</html>